{% extends 'index.html' %}
{% load bootstrap_tags %}
{% load static %}

{% block content %}

    <div class="card mb-0 border-primary border-top-0 border-right-0 border-left-0">
        <div class="card-header font-weight-bold shadow-sm">
            Для получения этого вида материальной помощи нужно:
        </div>
        <div class="card-body shadow">
            <p class="card-text"><b><i>1)</i></b> Определить, к какой категории нуждаемости вы относитесь (посмотреть <a
                    class="card-link" href="{% url 'category' %}"><b><i>здесь</i></b></a>)</p>
            <p class="card-text"><b><i>2)</i></b> Заполнить заявление в соответствии с образцом</p>
            <p class="card-text"><b><i>3)</i></b> Приложить к заявлению копии документов, необходимые для подтверждения
                вашей
                категории нуждаемости</p>
            <p class="card-text"><b><i>4)</i></b> Отнести заявление в профбюро института (график работы можно найти <a
                    class="card-link" href="{% url 'schedule' %}"><b><i>здесь</i></b></a>)</p>
        </div>
    </div>

    {% if pk == 4 %}
        {% include 'statements/first_7/info_123/informers/informer_4.html' %}
    {% elif pk == 5 %}
        {% include 'statements/first_7/info_123/informers/informer_5.html' %}
    {% elif pk == 7 %}
        {% include 'statements/first_7/info_123/informers/informer_7.html' %}
    {% endif %}

    {% if request.user.is_authenticated %}
        <div class="container-fluid row mt-3 m-0">
            <div class="col-sm">

                <form>
                    <div class="container mb-5 ">
                        <button class="btn float-left btn-block float-left btn-primary shadow p-2 rounded"
                                value="Автозаполнение" formaction="auto_fill"><b>Автозаполнение</b></button>
                    </div>
                </form>
                <form method="post" class="post-form align mb-5 pb-5">
                    <div class="container  pt-5 pb-5">
                        <button class="btn float-left btn-block float-left btn-primary shadow p-2 rounded"
                                value="Скачать"
                                formaction="document"><b>Скачать</b></button>
                    </div>
                    <div class="container pt-2">
                        {{ form|as_bootstrap_inline }}
                    </div>
                    <div class="container">
                        <button class="btn float-left btn-block float-left btn-primary shadow p-2 rounded"
                                value="Скачать"
                                formaction="document"><b>Скачать</b></button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-sm pt-5">
                <img class="shadow rounded" src="{% static 'images/example_123457.jpg' %}"
                     alt="образец">
            </div>
        </div>
    {% else %}
        <div class="container-fluid row mt-3 m-0">
            <div class="col-sm">
                <form method="post" class="post-form align mb-5 pb-5">
                    <div class="container mb-5 pt-5 ">
                        <button class="btn float-left btn-block float-left btn-primary shadow p-2 rounded"
                                value="Скачать"
                                formaction="document"><b>Скачать</b></button>
                    </div>
                    <div class="container pt-2">
                        {{ form|as_bootstrap_inline }}
                    </div>
                    <div class="container">
                        <button class="btn float-left btn-block float-left btn-primary shadow p-2 rounded"
                                value="Скачать"
                                formaction="document"><b>Скачать</b></button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-sm pt-5">
                <img class="shadow rounded" src="{% static 'images/example_123457.jpg' %}"
                     alt="образец">
            </div>
        </div>
    {% endif %}



{% endblock %}