{% extends "index.html" %}
{% load bootstrap_tags %}
{% load static %}

{% block title %}Авторизация{% endblock title %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/form_style.css' %}">

    {% if user.is_authenticated == False %}
        {% if next %}
            {% if user.is_authenticated %}
                <div class="container pb-5 pt-5 row-cols-sm-2 text-center">
                    <div class="container-my pl-5 align-content-center">
                        <div class="card border-primary shadow rounded" style="width: 25rem;">
                            <div class="card-body m-0">
                                <h5 class="card-title font-weight-bold">Ваша учетная запись не имеет доступа к этой
                                    странице!</h5>
                                <div class="text-center">
                                    <a class="nav-link" href="{% url 'index' %}">
                                        <button type="button"
                                                class="btn btn-outline-primary shadow p-2 mt-0 rounded ">
                                            Вернуться на главную
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container pb-5 pt-5 row-cols-sm-2 text-center">
                    <div class="container-my pl-5 align-content-center">
                        <div class="card border-primary shadow rounded" style="width: 25rem;">
                            <div class="card-body m-0">
                                <h5 class="card-title font-weight-bold">Пожалуйста, авторизируйтесь!</h5>
                                <div class="container text-center">

                                    <a class="nav-link float-left" href="{% url 'registration' %}">
                                        <button type="button"
                                                class="float-left btn btn-outline-primary shadow p-2 mt-0 rounded">
                                            Регистрация
                                        </button>
                                    </a>
                                    <a class="nav-link float-right" href="{% url 'login' %}">
                                        <button type="button"
                                                class="float-right btn btn-outline-primary shadow p-2 mt-0 rounded ">
                                            Авторизация
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <div class="container pb-5 pt-5 row-cols-sm-2 text-center">
            <div class="container-my pl-5 align-content-center">
                <div class="row">

                    <form method="post" class="form-horizontal border border-primary pb-2 mb-2 rounded-1 shadow-lg"
                          action="{% url 'login' %}">
                        <span class="heading p-2"><h2 class="display-4 m-3 p-0 shadowtext">АВТОРИЗАЦИЯ</h2></span>
                        {% csrf_token %}
                        {{ form|as_bootstrap_inline }}

                        <button type="submit"
                                class="btn-sm float-right mr-5 mb-3 m-0 btn-primary shadow pr-5 pl-5 p-2 rounded font-weight-bold">
                            Войти
                        </button>
                        <input type="hidden" name="next" value="{{ next }}">

                    </form>

                    <div class="container">
                        <a class="nav-link float-left" href="{% url 'registration' %}">
                            <button type="button"
                                    class="btn btn-outline-primary shadow p-2 mt-0 rounded">
                                Зарегистрироваться
                            </button>
                        </a>
                        <a class="nav-link float-right" href="{% url 'my_reset_password' %}">
                            <button type="button" class="btn btn-outline-primary shadow p-2 mt-0 rounded">Забыли
                                пароль?
                            </button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    {% else %}
        <div class="container pb-5 pt-5 row-cols-sm-2 text-center">
            <div class="container-my pl-5 align-content-center">
                <div class="card border-primary shadow rounded" style="width: 25rem;">
                    <div class="card-body m-0">
                        <h5 class="card-title font-weight-bold m-4 ">Вы уже авторизированы!</h5>

                        <div class="text-center">
                            <a class="nav-link" href="{% url 'index' %}">
                                <button type="button"
                                        class="btn btn-outline-primary shadow p-2 mt-0 rounded">
                                    Вернуться на главную
                                </button>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}