{% extends "index.html" %}
{% load bootstrap_tags %}

{% block content %}

    {% if user.is_authenticated == False %}
        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
            {% else %}
                <p>Пожалуйста, авторизируйтесь.</p>
            {% endif %}
        {% endif %}
        <div class="container pb-5 pt-5 row-cols-sm-2 text-center">
            <div class="container-my pr-5 pl-5 align-content-center">
                <form method="post" class="" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form|as_bootstrap_inline}}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn-sm btn-primary mt-2 shadow p-2 rounded font-weight-bold">Войти</button>
                        <input type="hidden" name="next" value="{{ next }}"></div>
                </form>
                <div class="container">
                <a class="nav-link" href="{% url 'registration' %}">
                <button type="submit" class="btn-sm btn-primary mt-2 shadow p-2 rounded font-weight-bold">Зарегистрироваться</button>
                </a>
                </div>
            </div>

        </div>
    {% else %}
        <p>Вы уже вошли.</p>
        <p><a href="{% url 'index' %}" class="text-black">Вернуться на главную</a></p>
    {% endif %}

{% endblock %}