{% extends "index.html" %}

{% block title %}Смена пароля{% endblock title %}

{% block content %}

    <div class="container pb-5 pt-5 row-cols-sm-2 text-center">
            <div class="container-my pl-5 align-content-center">
                <div class="card border-primary shadow rounded" style="width: 25rem;">
                    <div class="card-body m-0">
                        <h5 class="card-title font-weight-bold m-4 ">Письмо отправлено!</h5>
                        <p>Проверьте вашу почту, мы отправили вам письмо со ссылкой.Письмо может находится в папке
                            'спам'</p>
                        <div class="text-center">
                            <a class="nav-link" href="{% url 'login' %}">
                                <button type="button"
                                        class="btn btn-outline-primary shadow p-2 mt-0 rounded">
                                    Войти
                                </button>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

{% endblock content %}