{% extends "index.html" %}
{% load bootstrap_tags %}
{% block content %}

    <div class="container pb-5 pt-5 row-cols-sm-2 text-center">
        <div class="container-my pl-5 align-content-center">
            <div class="row">
                <form method="post" class="form-horizontal border border-primary pb-2 mb-2 rounded-1 shadow-lg"
                      action="{% url 'my_reset_password' %}">
                    <span class="p-2"><h2 class="display-4 m-3 p-0 shadowtext">Сброс пароля</h2></span>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Отправить</button>
                    </form>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
