{% extends "index.html" %}
{% load bootstrap_tags %}
{% load static %}

{% block title %}Смена пароля{% endblock title %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/form_style.css' %}">

    <div class="container pb-5 pt-5 row-cols-sm-2 text-center">
        <div class="container-my pl-5 align-content-center">
            <div class="row">

                <form method="post" class="form-horizontal border border-primary pb-2 mb-2 rounded-1 shadow-lg pb-4"
                      action="{% url 'my_reset_password' %}">
                    <span class="heading p-2"><h2 class="display-4 m-3 p-0 shadowtext">Сброс пароля</h2></span>
                    {% csrf_token %}
                    {{ form|as_bootstrap_inline }}

                    <div class="text-center">
                        <button type="submit"
                                class="btn-sm m-0 btn-primary shadow pr-5 pl-5 p-2 rounded font-weight-bold">
                            Отправить
                        </button>
                    </div>

                </form>
            </div>

        </div>
    </div>

{% endblock content %}
