{% extends 'index.html' %}
{% load static %}

{% block content %}

    <div class="container pb-5 pt-5 ">
        <div class="row row-cols-sm-2 mb-5">
            <img src="{% static 'images/position_1.jpg' %}" class="mx-auto d-block shadow rounded" alt="contact_1">
            <img src="{% static 'images/position_2.jpg' %}" class="mx-auto d-block shadow rounded"
                 alt="contact_1">
        </div>
        <div class="row row-cols-sm-2 mb-5">
            <img src="{% static 'images/position_3.jpg' %}" class="mx-auto d-block shadow rounded" alt="contact_1">
            <img src="{% static 'images/position_4.jpg' %}" class="mx-auto d-block shadow rounded border-left-1"
                 alt="contact_1">
        </div>
    <div class="row row-cols-sm-2 mb-5">
            <img src="{% static 'images/position_5.jpg' %}" class="mx-auto d-block shadow rounded" alt="contact_1">
            <img src="{% static 'images/position_6.jpg' %}" class="mx-auto d-block shadow rounded border-left-1"
                 alt="contact_1">
        </div>
    <div class="row row-cols-sm-2 mb-5">
            <img src="{% static 'images/position_7.jpg' %}" class="mx-auto d-block shadow rounded" alt="contact_1">
            <img src="{% static 'images/position_8.jpg' %}" class="mx-auto d-block shadow rounded border-left-1"
                 alt="contact_1">
        </div>
    <div class="container pb-5 pt-5 row-cols-sm-2">
        <img src="{% static 'images/position_9.jpg' %}" class="mx-auto d-block rounded" alt="statement_of_command">
    </div>
    </div>

{% endblock content %}