{% extends 'index.html' %}
{% load bootstrap_tags %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}

    <div class="jumbotron jumbotron-fluid shadow ">
        <div class="container">
            <h1 class="display-4">Материальная помощь для всех</h1>
            <p class="lead"> Чтобы получить материальную помощь, нужно
                распечатать (или взять на стене в 1510) заявление,
                в котором заполнить всё, кроме левого верхнего угла и дат.
            </p>
            <p> Также нужно приложить копию профсоюзного билета и пакет документов, подтверждающих льготную категорию
                (посмотреть <a
                        class="card-link" href="{% url 'category' %}"><b><i>здесь</i></b></a>).</p>
        </div>
    </div>

   {% if request.user.is_authenticated %}
        <div class="container-fluid row mt-3 m-0">
            <div class="col-sm">

                <form>
                    <div class="container mb-5 ">
                        <button class="btn float-left btn-block float-left btn-primary shadow p-2 rounded"
                                value="Автозаполнение" formaction="auto_fill"><b>Автозаполнение</b></button>
                    </div>
                </form>
                <form method="post" class="post-form align mb-5 pb-5">
                    <div class="container  pt-5 pb-5">
                        <button class="btn float-left btn-block float-left btn-primary shadow p-2 rounded"
                                value="Скачать"
                                formaction="doc_profcom_1"><b>Скачать</b></button>
                    </div>
                    <div class="container pt-2">
                        {% for field in form %}

                                    {{ field|as_crispy_field }}

                            {% endfor %}
                    </div>
                    <div class="container">
                        <button class="btn float-left btn-block float-left btn-primary shadow p-2 rounded"
                                value="Скачать"
                                formaction="doc_profcom_1"><b>Скачать</b></button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-sm pt-5">
                <img class="shadow rounded" src="{% static 'images/material_aid.jpg' %}"
                     alt="образец">
            </div>
        </div>
    {% else %}
        <div class="container-fluid row mt-3 m-0">
            <div class="col-sm">
                <form method="post" class="post-form align mb-5 pb-5">
                    <div class="container mb-5 pt-5 ">
                        <button class="btn float-left btn-block float-left btn-primary shadow p-2 rounded"
                                value="Скачать"
                                formaction="doc_profcom_1"><b>Скачать</b></button>
                    </div>
                    <div class="container pt-2">
                        {% for field in form %}

                                    {{ field|as_crispy_field }}

                            {% endfor %}
                    </div>
                    <div class="container">
                        <button class="btn float-left btn-block float-left btn-primary shadow p-2 rounded"
                                value="Скачать"
                                formaction="doc_profcom_1"><b>Скачать</b></button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-sm pt-5">
                <img class="shadow rounded" src="{% static 'images/material_aid.jpg' %}"
                     alt="образец">
            </div>
        </div>
    {% endif %}

{% endblock content %}