{% extends 'index.html' %}

{% block title %}ППОС КФУ{% endblock title %}


{% block content %}

    <div class="jumbotron pb-3 pt-3">
        <p class="text-center display-4" style="text-shadow: 1px 1px 2px darkred;">Как стать членом ППОС КФУ</p>
        <hr class="my-4">
        <div class="container text-center"><p class="lead">Каждый студент КФУ может стать членом Первичной профсоюзной организации студентов (ППОС КФУ,
            Профком,
            Профсоюз) и получать юридическую и материальную помощь.</p></div>
        <p class="lead text-center" style="text-shadow: 1px 1px 1px darkred;">
            Для этого нужно:
        </p>
        <blockquote class="blockquote text-center">
            <p class="mb-0"><i style="text-shadow: 1px 1px 1px darkred;"><b>Cтудентам бюджетной формы обучения:</b></i>
            </p><br>
            <div class="container ml-5 pl-5 ml-5">
                <p class="text-left"><i class="text-dark font-weight-bold"><b>&bull;</b> Подать заявление на вступление в профком;</i><br>
                <i class="text-dark font-weight-bold"><b>&bull;</b> Подать заявление для взимания членского взноса со
                    стипендии;</i><br></p>
            </div>
            <p class="mb-0"><i style="text-shadow: 1px 1px 1px darkred;"><b>Cтудентам контрактной формы
                обучения:</b></i></p><br>
            <div class="container ml-5 pl-5 ml-5">
                <p class="text-left"><i class="text-dark font-weight-bold"><b>&bull;</b> Подать заявление на вступление в профком;</i><br>
                <i class="text-dark font-weight-bold"><b>&bull;</b> К заявлению приложить членский взнос (200 рублей в месяц);</i><br>
                </p>
            </div>
        </blockquote>
        <p class="text-center text-success font-weight-bold"> Заявления можно взять на стене рядом с кабинетом Профбюро ИТИС
            (1510в).</p>
        <p class="text-center text-success font-weight-bold"> Подавать заявления следует в профбюро ИТИС (1510в).</p>
    </div>

{% endblock content %}