{% extends 'index.html' %}

{% block content %}

    <div class="jumbotron shadow">
        <h1 class="text-center">Условия оказания материальной помощи членам ППОС КФУ</h1>
        <hr class="my-4">
        <p>Материальная помощь оказывается непосредственно членам ППОС
            КФУ из денежных средств, сформированных из ежемесячных членских
            взносов членов ППОС КФУ.</p>
        <p class="lead">
            В настоящем Положении под материальной помощью следует
            понимать выплаты единовременного характера, как одной из форм
            социальной поддержки.
        </p>
        <blockquote class="blockquote text-center">
            <p class="mb-0"><i><b>Условия оказания:</b></i></p><br>
            <div class="container ml-5 pl-5 ml-5">
                <p class="text-left"><i><b>&bull;</b> Cтудент является членом ППОС КФУ и
                    производит перечисление членских взносов;</i><br>
                    <i><b>&bull;</b> Материальная помощь может предоставляться члену ППОС КФУ один
                        и более раз в учебный год;</i><br>
                    <i><b>&bull;</b> Материальная помощь оказывается на основании личного заявления
                        члена ППОС КФУ и протокола заседания профсоюзного комитета.</i><br></p>
            </div>
        </blockquote>
        <p class="text-center font-weight-bold"><a href="{% url 'position' %}">Официальное положение.</a></p>
    </div>

{% endblock content %}