{% extends 'index.html' %}

    {% block content %}

    <table class="table table-hover table-dark mb-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Категории</th>
            <th scope="col">Подтверждающие документы</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Обучающийся, являющийся иногородним</td>
            <td>Копия паспорта (страницы с фото и регистрацией)</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Обучающийся, являющийся членом многодетной семьи, в которой воспитываются три и более детей дошкольного возраста и / или обучающихся в средних образовательных, средних специальных и высших учебных заведениях</td>
            <td>Копии свидетельств о рождении всех детей в семье, включая самого обучающегося, оригиналы справок с места учебы детей</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Обучающийся из неполной семьи</td>
            <td>Копии свидетельства о рождении обучающегося, свидетельства о смерти / о расторжении брака / справки матери-одиночки, паспорта единственного родителя (страницы с фото и семейным положением)</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Обучающийся, имеющий обоих родителей-пенсионеров, либо единственного родителя – пенсионера</td>
            <td>Копии свидетельства о рождении обучающегося, пенсионных удостоверений родителя / родителей либо справки из ПФР</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Обучающиеся, получающие государственную социальную помощь, установленную в субъектах РФ</td>
            <td>Документ, подтверждающий назначение государственной социальной помощи, выданной органом социальной защиты населения по месту жительства</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Обучающийся, относящийся к категории детей-сирот; детей, оставшихся без попечения родителей</td>
            <td>Копии документов из органов опеки и попечительства, подтверждающих категорию, копия решения суда о лишении его родителей родительских прав, копия свидетельства о смерти родителей, копии документов об установлении опеки (попечительства), о передаче ребенка-сироты или ребенка, оставшегося без попечения родителей, на воспитание в приемную семью</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Обучающийся, относящийся к категории детей-инвалидов, инвалидов I и II групп</td>
            <td>Копия справки ВТЭК, МСЭ об инвалидности</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Обучающийся в возрасте до 23 лет, имеющий единственного родителя – инвалида I или II группы</td>
            <td>Копии свидетельства о рождении обучающегося, справки об инвалидности единственного родителя, свидетельства о смерти / о расторжении брака / справки матери- одиночки, паспорта единственного родителя (страницы с фото и семейным положением)</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Обучающийся, являющийся семейным, при этом его супруг (супруга) является обучающимся</td>
            <td>Копия свидетельства о браке, оригинал справки с места учебы супруга / супруги</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Обучающийся, на иждивении которого есть дети</td>
            <td>Копия свидетельства о рождении ребенка</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>Обучающийся, относящийся к категории ветеранов и инвалидов боевых действий</td>
            <td>Копии справки об инвалидности, удостоверения ветерана боевых действий</td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td>Обучающийся, относящийся к категории лиц, пострадавших в результате аварии на Чернобыльской АЭС и других радиационных катастроф	</td>
            <td>Копия справки (удостоверения), подтверждающей (-его) факт лица, пострадавшего вследствие катастрофы на Чернобыльской атомной электростанции и других радиационных катастрофах</td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td>Обучающийся, оказавшийся в другой тяжелой жизненной ситуации</td>
            <td>Документы, подтверждающие возникновение тяжелой жизненной ситуации (в индивидуальном порядке)</td>
        </tr>
        </tbody>
    </table>

    {% endblock content %}