{% extends 'index.html' %}

{% block content %}

    <div class="jumbotron">
        <h1>Условия оказания материальной помощи членам ППОС КФУ</h1>
        <hr class="my-4">
        <p>Материальная помощь оказывается непосредственно членам ППОС
            КФУ из денежных средств, сформированных из ежемесячных членских
            взносов членов ППОС КФУ.</p>
        <p class="lead">
            В настоящем Положении под материальной помощью следует
            понимать выплаты единовременного характера, как одной из форм
            социальной поддержки.
        </p>
        <blockquote class="blockquote">
            <p class="mb-0">Условия оказания:<br>
                <i><b>&bull;</b> Cтудент является членом ППОС КФУ и
                    производит перечисление членских взносов;</i> <br>
                <i><b>&bull;</b> Материальная помощь может предоставляться члену ППОС КФУ один
                    и более раз в учебный год;</i></p>
            <i><b>&bull;</b> Материальная помощь оказывается на основании личного заявления
                члена ППОС КФУ и протокола заседания профсоюзного комитета.</i></p>
        </blockquote>
        <p><a href="{% url 'position' %}">Официальное положение.</a></p>
    </div>

{% endblock content %}