{% extends 'index.html' %}

{% block content %}

    <div class="jumbotron">
        <p class="display-4">Как стать членом ППОС КФУ</p>
        <hr class="my-4">
        <p>Каждый студент КФУ может стать членом Первичной профсоюзной организации студентов (ППОС КФУ, Профком,
            Профсоюз) и получать юридическую и материальную помощь.</p>
        <p class="lead">
            Для этого нужно:
        </p>
        <blockquote class="blockquote">
            <p class="mb-0">Cтудентам бюджетной формы обучения: <br>
                <i><b>&bull;</b> Подать заявление на вступление в профком;</i> <br>
                <i><b>&bull;</b> Подать заявление для взимания членского взноса со стипендии;</i></p>
        </blockquote>
        <blockquote class="blockquote">
            <p class="mb-0">Cтудентам контрактной формы обучения: <br>
                <i><b>&bull;</b> Подать заявление на вступление в профком;</i> <br>
                <i><b>&bull;</b> к заявлению приложить членский взнос (200 рублей в месяц);</i></p>
        </blockquote>
        <p> Заявления можно взять здесь или на стене рядом с кабинетом Профбюро ИТИС (1510в).</p>
        <p> Подавать заявления следует в профбюро ИТИС (1510в).</p>
    </div>

{% endblock content %}