    <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/kfu.png' %}" type="image/png">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/js.js' %}" rel="script"></script>

{#для crispy_forms#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{#-----------#}

    <title>{% block title %}Documents{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light shadow p-3 border-bottom border-primary">
    <a class="navbar-brand" href="/"><img class="embed-responsive" src="{% static "images/kfu.png" %}"
                                          style="width: 100px; height: 100px" alt="шапка"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse dropdown navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'statements' %}">
                    <button type="button" class="btn btn-outline-primary shadow p-2 rounded">Заявления</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin1' %}">
                    <button type="button" class="btn btn-outline-primary shadow p-2 rounded">Админка Django</button>
                </a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item p-2">
                    <button id="dLabel" type="button" class="btn mb-0 btn-outline-primary shadow p-2 rounded"
                            data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Профиль
                    </button>
                    <div class="dropdown-menu dropdown-menu-right mt-0" style="width: 20%" aria-labelledby="dLabel">
                        <div class="card-head card-header text-center border-bottom-1 rounded">
                            <b>Профиль:</b>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center pt-0 pb-0"><a class="nav-link"
                                                                                 href="{% url 'profile' request.user.id %}">
                                <button type="button"
                                        class="btn-sm btn-block btn-outline-primary shadow p-2 rounded font-weight-bold">
                                    Основные данные
                                </button>
                            </a></li>
                            <li class="list-group-item text-center pt-0 pb-0"><a class="nav-link"
                                                                                 href="{% url 'passport' request.user.id %}">
                                <button type="button"
                                        class="btn-sm btn-block btn-outline-primary shadow p-2 rounded font-weight-bold">
                                    Паспорт
                                </button>
                            </a></li>
                            <li class="list-group-item text-center pt-0 pb-0"><a class="nav-link"
                                                                                 href="{% url 'course_group' request.user.id %}">
                                <button type="button"
                                        class="btn-sm btn-block btn-outline-primary shadow p-2 rounded font-weight-bold">
                                    Учебные данные
                                </button>
                            </a></li>
                            <li class="list-group-item text-center pt-0 pb-0"><a class="nav-link"
                                                                                 href="{% url 'my_logout' %}">
                                <button type="button"
                                        class="btn-sm btn-block btn-outline-danger shadow p-2 rounded font-weight-bold">
                                    Выйти
                                </button>
                            </a></li>
                        </ul>
                    </div>
                </li>
            {% else %}
                <li class="nav-item p-2">
                    <button id="dLabel" class="btn btn-outline-primary shadow p-2 rounded" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Регистрация/Вход
                    </button>
                    <div class="dropdown-menu dropdown-menu-right mt-0" style="width: 20%" aria-labelledby="dLabel">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center pt-0 pb-0"><a class="nav-link"
                                                                                 href="{% url 'my_login' %}">
                                <button type="button"
                                        class="btn-sm btn-block btn-outline-primary shadow p-2 rounded font-weight-bold">
                                    Войти
                                </button>
                            </a></li>
                            <li class="list-group-item text-center pt-0 pb-0"><a class="nav-link"
                                                                                 href="{% url 'registration' %}">
                                <button type="button"
                                        class="btn-sm btn-block btn-outline-primary shadow p-2 rounded font-weight-bold">
                                    Регистрация
                                </button>
                            </a></li>
                        </ul>
                    </div>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>

{% block content %}
{% endblock content %}

</body>
</html>