{% extends 'index.html' %}
{% load bootstrap_tags %}

{% block content %}

    <div class="card mb-0">
        <div class="card-header">
            Для получения этого вида материальной помощи нужно:
        </div>
        <div class="card-body">
            <p class="card-text">1) определить, к какой категории нуждаемости вы относитесь (посмотреть <a
                    class="card-link" href="{% url 'category' %}">здесь</a>)</p>
            <p class="card-text">2) заполнить заявление в соответствии с образцом</p>
            <p class="card-text">3) приложить к заявлению копии документов, необходимые для подтверждения вашей
                категории нуждаемости</p>
            <p class="card-text">4) отнести заявление в профбюро нашего института (график работы можно найти в меню)</p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Дополнительно приложить к заявлению:</h5>
            <p class="card-text">оригинал справки из
                домоуправления о месте проживания родителей,</p>
            <p class="card-text">проездные документы до населенного пункта
                и обратно, где проживают родители (дата документов должна соответствовать каникулярному
                времени, предшествующему текущему или текущему семестру);</p>
        </div>
    </div>

    <div class="container-fluid row mt-5 m-0">
        <div class="col-sm">
            <form method="post" class="post-form aling" action="{% url 'document' %}">
                {% csrf_token %}
                {{ form0|as_bootstrap_inline }}
                {{ form1|as_bootstrap_inline }}
                {{ form2|as_bootstrap_inline }}
                {{ form3|as_bootstrap_inline }}

                <input type="submit" value="Отправить" class="btn btn-primary float-right">
            </form>
        </div>
        <div class="col-sm">
            <img src="https://sun9-19.userapi.com/c846020/v846020577/1c63ae/bRXrd9yuP4Y.jpg" alt="образец">
        </div>
    </div>
{% endblock %}