{% extends 'index.html' %}


    {% block info %}

    <div class="card">
        <div class="card-header">
            Для получения этого вида материальной помощи нужно:
        </div>
        <div class="card-body">
            <p class="card-text">1) определить, к какой категории нуждаемости вы относитесь</p>
            <p class="card-text">2) заполнить заявление в соответствии с образцом;</p>
            <p class="card-text">3) приложить к заявлению копии документов, необходимые для подтверждения вашей категории нуждаемости (посмотреть <a class="card-link" href="{% url 'category' %}" target="_blank">здесь</a>);</p>
            <p class="card-text">4) отнести заявление в профбюро нашего института (график работы можно найти в меню).</p>
        </div>
    </div>

    {% endblock %}