{% extends 'index.html' %}

{% block content %}

    <div class="container">
            <div class="post">
                <form method="post" class="post-form" action="{% url 'profile' site_user.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Отправить" class="btn btn-primary float-right" />
                    {{ form.as_p}}

                    <input type="submit" value="Отправить" class="btn btn-primary float-right" />
                </form>
            </div>
    </div>

{% endblock %}