{% extends 'index.html' %}
{% load bootstrap_tags %}
{% load static %}

{% block content %}

    <div class="container bootstrap snippet mb-5">
        <div class="col-sm">
            <div class="text-center p-3"><h1>{{ request.user.first_name }}</h1></div>
        </div>
        <div class="row">
            <div class="col-sm-3">


                <div class="text-center">
                    <img src="{% static 'images/avatar.png' %}"
                         class="avatar img-circle img-thumbnail border-primary rounded-circle shadow rounded shadow-lg"
                         alt="avatar">
                    <p>Загрузить другое фото...</p>
                    <input type="file" class="btn shadow rounded">
                </div>
                <br>


            </div>
            <div class="col-sm-9">
                <div class="container pl-5">
                    <div class="post">
                        <form method="post" class="post-form" action="{% url 'profile' request.user.id %}">{#форма для профиля#}
                            {% csrf_token %}
                            {{ form|as_bootstrap_inline}}

                            <div class="container-fluid">
                                <input type="submit" value="Сохранить"
                                       class="btn btn-primary float-left shadow rounded"/>
                            </div>
                        </form>



                            {#ДЛЯ ПАСПОРТА#}
                        <form method="post" class="post-form" action="{% url 'passport' request.user.id %}">{#форма для пасспорта   #}
                            {% csrf_token %}
                            {{ form|as_bootstrap_inline}}
                            <div class="container-fluid">
                                <input type="submit" value="Сохранить"
                                       class="btn btn-primary float-left shadow rounded"/>
                            </div>
                        </form>

{#                        <form method="post" class="post-form" action="{% url 'group' request.user.id %}">#}
{#                            {% csrf_token %}#}
{#                            {{ form|as_bootstrap_inline }}#}
{##}
{#                            <div class="container-fluid">#}
{#                                <input type="submit" value="Сохранить"#}
{#                                       class="btn btn-primary float-left shadow rounded"/>#}
{#                            </div>#}
{#                        </form>#}
                    </div>
                </div>

            </div>
        </div>
    </div>




{% endblock %}