{% extends 'index.html' %}

{% block title %}Statement{% endblock title %}

{% block content %}

    <div class="jumbotron jumbotron-fluid mb-0 bg-light border-bottom border-primary shadow">
        <div class="container">
            <h1 class="display-4 text-danger">Инструкция</h1>
            <p><b><i>1)</i></b> Определить, к какой категории нуждаемости вы относитесь (ссылка на перечень категорий и
                документов <a
                        class="card-link" href="{% url 'category' %}"><b><i>здесь</i></b></a>);</p>
            <p><b><i>2)</i></b> Заполнить данные в форме;</p>
            <p><b><i>3)</i></b> Заполнить заявление в соответствии с образцом (либо воспользоваться функцией
                автозаполнения);</p>
            <p class="text-danger font-weight-bold"><i>Чтобы воспользоваться функцией автозаполнения, нужно заполнить
                данные в профиле!</i></p>
            <p><b><i>4)</i></b> Приложить к заявлению копии документов, необходимые для подтверждения вашей категории
                нуждаемости;</p>
            <p><b><i>5)</i></b> Отнести заявление в профбюро нашего института (график работы можно найти <a
                    class="card-link"
                    href="{% url 'schedule' %}"><b><i>здесь</i></b></a>)
            </p>
        </div>
    </div>

    <div>
        <div class="border-top border-bottom shadow p-2">
            <h4 class="ml-5 mb-3 mt-3"><b>Материальная помощь от университета</b></h4>
        </div>
        <ul class="list-group float-center mb-0 border border-primary shadow">
            <li class="list-group-item border-top-0 border-bottom border-primary"><a class="nav-link"
                                                                                     href="{% url 'info' %}"><span
                    class="ml-5"><b
                    class="text-dark"><i>2.2.1.</i></b> Единовременная выплата на усиленное питание</span></a>
            </li>
            <li class="list-group-item border-top-0 border-bottom border-primary"><a class="nav-link"
                                                                                     href="{% url 'info' %}"><span
                    class="ml-5"><b class="text-dark"><i>2.2.2.</i></b> Единовременная выплата на проезд в общественном городском транспорте</span></a>
            </li>
            <li class="list-group-item border-top-0 border-bottom border-primary"><a class="nav-link"
                                                                                     href="{% url 'info' %}"><span
                    class="ml-5"><b class="text-dark"><i>2.2.3.</i></b> Единовременная выплата для приобретения учебной литературы</span></a>
            </li>
            <li class="list-group-item border-top-0 border-bottom border-primary"><a class="nav-link"
                                                                                     href="{% url 'info' %}"><span
                    class="ml-5"><b class="text-dark"><i>2.2.4.</i></b> Единовременная выплата в связи с затратами на поездку домой в каникулярное время</span></a>
            </li>
            <li class="list-group-item border-top-0 border-bottom border-primary"><a class="nav-link"
                                                                                     href="{% url 'info' %}"><span
                    class="ml-5"><b class="text-dark"><i>2.2.5.</i></b> Единовременная выплата для приобретения лекарственных средств</span></a>
            </li>
            <li class="list-group-item border-top-0 border-bottom border-primary"><a class="nav-link"
                                                                                     href="{% url 'info_6' %}"><span
                    class="ml-5"><b
                    class="text-dark"><i>2.2.6</i></b> Предоставление талонов на социальное питание</span></a>
            </li>
            <li class="list-group-item"><a class="nav-link" href="{% url 'info' %}"><span class="ml-5"><b
                    class="text-dark"><i>2.2.7.</i></b> Единовременная материальная поддержка</span></a>
            </li>
        </ul>
    </div>

    <div class="mt-1 mb-5">
        <div class=" border-bottom shadow p-2 mt-0 mb-0">
            <h4 class="ml-5 mb-3 mt-3"><b>Материальная помощь от профкома</b> (<a href="{% url 'how' %}"><b><i>как им стать?</i></b></a>)</h4>
        </div>
        <ul class="list-group float-center border border-primary shadow">
            <li class="list-group-item border-top-0 border-bottom border-primary"><p
                    class="blockquote text-success ml-5"><a class="link text-success" href="{% url 'conditions' %}">Условия
                оказания материальной помощи членам ППОС КФУ</a></p></li>
            <li class="list-group-item border-top-0 border-bottom border-primary"><a class="nav-link" href="{% url 'material_aid' %}"><span
                    class="ml-5"><b class="text-dark"><i>1.</i></b> Материальная помощь</span></a></li>
            <li class="list-group-item border border-top-0 border-bottom border-primary"><a class="nav-link"
                                                                                            href="#"><span class="ml-5"><b
                    class="text-dark"><i>2.</i></b> Электронный кошелёк (общественный транспорт)</span></a>
            </li>
            <li class="list-group-item"><a class="nav-link" href="#"><span class="ml-5"><b
                    class="text-dark"><i>3.</i></b> Социальное питание</span></a>
            </li>
        </ul>
    </div>

{% endblock %}
