{% extends 'index1.html' %}

    {% block content %}

        <div class="jumbotron jumbotron-fluid mb-0 bg-light">
        <div class="container">
            <h1 class="display-4">Инструкция</h1>
            <p class="lead">Для получения этого вида материальной помощи нужно:</p>
            <p>1) определить, к какой категории нуждаемости вы относитесь</p>
            <p>2) заполнить заявление в соответствии с образцом</p>
        </div>
    </div>


        <div >
            <div class="border-top border-bottom shadow p-2">
            <h4 class="ml-5 mb-3 mt-3">Материальная помощь от университета</h4>
            </div>
            <ul class="list-group float-center mb-0">
                <li class="list-group-item"><a class="nav-link" href="{% url 'info' %}"><span class="ml-5">2.2.1. Единовременная выплата на усиленное питание</span></a></li>
                <li class="list-group-item"><a class="nav-link" href="{% url 'info' %}"><span class="ml-5">2.2.2. Единовременная выплата на проезд в общественном городском транспорте</span></a></li>
                <li class="list-group-item"><a class="nav-link" href="{% url 'info' %}"><span class="ml-5">2.2.3. Единовременная выплата для приобретения учебной литературы</span></a></li>
                <li class="list-group-item"><a class="nav-link" href="{% url 'info' %}"><span class="ml-5">2.2.4. Единовременная выплата в связи с затратами на поездку домой в каникулярное время</span></a></li>
                <li class="list-group-item"><a class="nav-link" href="{% url 'info' %}"><span class="ml-5">2.2.5. Единовременная выплата для приобретения лекарственных средств</span></a></li>
                <li class="list-group-item"><a class="nav-link" href="{% url 'info' %}"><span class="ml-5">2.2.6. Предоставление талонов на социальное питание</span></a></li>
                <li class="list-group-item mb-0"><a class="nav-link" href="{% url 'info' %}"><span class="ml-5">2.2.7. Единовременная материальная поддержка</span></a></li>
            </ul>
        </div>

        <div class="mt-1 mb-5">
            <div class=" border-bottom shadow p-1 mt-0 mb-0">
            <h4 class="ml-5 mb-3 mt-3">Материальная помощь от профкома</h4>
            </div>
            <ul class="list-group float-center">
                <li class="list-group-item"><a class="link" href="#"><p class="blockquote text-success ml-5">Условия оказания материальной помощи членам ППОС КФУ</p></a></li>
                <li class="list-group-item"><a class="nav-link" href="#"><span class="ml-5">1. Материальная помощь</span></a></li>
                <li class="list-group-item"><a class="nav-link" href="#"><span class="ml-5">2. Электронный кошелёк (общественный транспорт)</span></a></li>
                <li class="list-group-item border-bottom-0"><a class="nav-link" href="#"><span class="ml-5">3. Социальное питание</span></a></li>
            </ul>
        </div>

    {% endblock %}
