{% extends 'info_123.html' %}

{% block informer %}
    <div class="card text-white bg-danger mb-3 mt-3">
        <div class="card-header font-weight-bold">Дополнительно приложить к заявлению:</div>
        <div class="card-body">
            <p class="card-text">1) Оригинал справки из
                домоуправления о месте проживания родителей</p>
            <p class="card-text">2) Проездные документы до населенного пункта
                и обратно, где проживают родители (дата документов должна соответствовать каникулярному
                времени, предшествующему текущему или текущему семестру);</p>
        </div>
    </div>
{% endblock informer %}