{% extends 'info_123.html' %}

{% block informer %}

    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Дополнительно приложить к заявлению:</h5>
            <p class="card-text">оригинал справки из
                домоуправления о месте проживания родителей,</p>
            <p class="card-text">проездные документы до населенного пункта
                и обратно, где проживают родители (дата документов должна соответствовать каникулярному
                времени, предшествующему текущему или текущему семестру);</p>
        </div>
    </div>

{% endblock %}