{% extends 'info_123.html' %}

{% block informer %}

   <div class="card text-white bg-danger mb-3 mt-3 shadow border-primary border-right-0 border-left-0">
        <div class="card-header font-weight-bold shadow-sm shadow-sm">Дополнительно приложить к заявлению:</div>
        <div class="card-body shadow">
            <p class="card-text"><b><i>1)</i></b> В случае смерти матери, отца, супруга/супруги, детей, родных
                братьев/сестер: копии:<br>
                <i><b>&bull;</b> Свидетельства о смерти и документов, подтверждающих родственные отношения;</i></p>
            <p class="card-text"><b><i>2)</i></b> В случае тяжелого заболевания самого обучающегося: копия справки ВТЭК,
                МСЭ об:<br>
                <i><b>&bull;</b> Инвалидности, справка из медицинского учреждения о назначении лечения;</i></p>
            <p class="card-text"><b><i>3)</i></b> В случае тяжелого заболевания матери, отца, супруга / супруги, детей,
                родных братьев / сестер:<br>
                <i><b>&bull;</b> Копии документов, подтверждающих родственные отношения</i><br>
                <i><b>&bull;</b> Медицинские документы, подтверждающие болезнь (справка из медицинского учреждения о назначении
                    лечения, оригиналы чеков на покупку лекарственных препаратов либо договор на оказание платных
                    медицинских услуг и т.п.</i><br>
                <b><i>(Документы действительны в течение шести месяцев со дня
                    установления диагноза)</i></b></p>
            <p class="card-text"><b><i>4)</i></b> В случае утраты имущества в результате пожара, кражи имущества,
                стихийного бедствия:<br>
                <i><b>&bull;</b> Справки из соответствующих органов местного самоуправления, внутренних дел,
                    противопожарной службы и др.;</i></p>
            <p class="card-text"><b><i>5)</i></b> Другие документы, подтверждающие тяжелую жизненную ситуацию;</p>
        </div>
    </div>

{% endblock informer %}